<ul class="quick-launch-apps hide">
        <li>
          <a href="#">
            <span class="app-icon bg-success text-white">
            M
            </span>
            <span class="app-title">Messages</span>
          </a>
        </li>
        <li>
          <a href="/reports">
            <span class="app-icon bg-danger text-white">
            A
            </span>
            <span class="app-title">Admin</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <span class="app-icon bg-danger text-white">
            C
            </span>
            <span class="app-title">Future - Travel</span>
          </a>
        </li> -->
      </ul>