body {
    overflow: auto;
}
a {   
    color: black;   
}

a:active {
    color: blue;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
}
.filter-dropdowns {
    padding: 10px 10px 0 0;
}
.graph-container {
    margin-left: 20px;
    margin-right: 10px;
}
.graph-container.only-graph {
    margin-top: 60px;
}