<div class="card bg-white">
    <div class="card-header">
        <p class="no-margin title">Policies</p>
        <p class="no-margin description">Organizational Policies as on year {{year}}</p>
    </div>
    <div class="card-block">
        <ul class="notifications-list list-unstyled">
            <li class="margin-bottom-10" *ngFor="let policy of policies">
                <h4 class="title">{{policy.title}}</h4>
                <p class="date">{{policy.type}}</p>
                <p class="description">{{policy.description}}</p>
            </li>
        </ul>
        <div class="text-info" *ngIf="!policies.length">Sorry we didn't find any policies for requested question.</div>
    </div>
</div>