.chat-room {
    .name {
       padding: 8px 0;
    }
    .status-online, .status-offline {
        float: left;
        margin: 13px 0px;
    }
    img {
        width: 35px;
        float: left;
        margin-right: 8px;
    }
}
.chat-panel .chat-group .chat-group-header {
    padding: 7px 20px;
}
chat-panel .chat-group a {
    padding: 5px 20px;
}
.search-header {
    padding: 3px 20px 0px 20px !important;
}
.search-users {
    margin-top: -10px;
    margin-bottom: 5px;
    input {
        padding: 0px;
        margin: 0px;
        border: none;
        padding-left: 20px; 
    }
    .search-open-icon {
        float: left;
        margin-top: -23px;
        margin-right: 10px;
    }
}