<div class="brand">
  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
          <i class="icon-grid"></i>
        </a>
  <!-- /toggle small sidebar menu -->
  <!-- toggle offscreen menu -->
  <div class="toggle-offscreen">
    <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
            <span></span>
            <span></span>
            <span></span>
          </a>
  </div>
  <!-- /toggle offscreen menu -->
  <!-- logo -->
  <a class="brand-logo">
          <span>nConnect</span>
        </a>
  <a href="#" class="small-menu-visible brand-logo">R</a>
  <!-- /logo -->
</div>