:host .chat-panel .chat-conversation .chat-conversation-message {
    background-color: #444;
}

/deep/ .card-header .title {
    color: #03A9F4;
    font-size: 22px;
}

/deep/ .card-header .description {
    color: #444;
    font-size: 14px;
    opacity: 0.7;
}

/deep/ .canteen-summary .title {
    font-size: 16px;
    color: #17455c;
}

/deep/ .cls-btn {
    background-color: #03A9F4;
    cursor: pointer;
    padding: 5px 10px;
    color: #fff;
    border: none;
}

/deep/ .bg-grey {
    background-color: #2e2d3d;
}

/deep/ .cls-form-control {
    border: 1px solid #ddd;
    padding: 5px;
}

/deep/ .no-margin {
    margin: 0px;
}

/deep/ .margin-bottom-10 {
    margin-bottom: 10px;
}

/deep/ .position-relative {
    position: relative;
}

/deep/ .text-right {
    text-align: right;
}