.layout-fixed-header .main-content {
    padding: 10px !important;
}
.profile-sidebar {
    margin-top: 20px;
}
.card-block .btn i {
    color: #444;
}
.post-button {
    float: right;
    width: 45px;
    padding: 10px;
    background-color: #2672ec !important;
    color: #fff;
    margin-right: -5px;
    margin-top: 5px;
}
.post-box {
    padding: 0;
}
.posts-container {
    padding: 20px;
}
.load-more {
    padding: 5px 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    a {
        text-align: center;
        font-weight: bold;
        color: #2672ec;
    }
}
.active-link {
    color: #2672ec;
}
.active-emotion-link {
    color: #a94442;
}
.post-comments {
    .media {
        a img {

        }
        textarea {
            padding: 2px 5px;
            border: 1px solid #ccc;
            margin: 2px 0px;
            width: 200px;
            height: 25px;
        }
    }
}