.layout-fixed-header .main-content {
    padding: 10px !important;
}
.profile-sidebar {
    margin-top: 20px;
}
.card-block .btn i {
    color: #444;
}
.post {
    float: right;
    width: 45px;
    padding: 10px;
    background-color: #2672ec !important;
    color: #fff;
    margin-right: -5px;
}