<div class="card bg-white">
    <div class="card-header">
        <p class="no-margin title">Holidays</p>
        <p class="no-margin description">Holiday calendar for year {{year}}</p>
    </div>
    <div class="card-block">
        <ul class="notifications-list list-unstyled">
            <li class="margin-bottom-10" *ngFor="let holiday of holidays">
                <h4 class="title">{{holiday.title}}</h4>
                <p class="date">{{holiday.date | date: 'shortDate'}}</p>
                <p class="description">{{holiday.description}}</p>
            </li>
        </ul>
    </div>
</div>