/* header */
.main-panel > .header {
    height: 35px;
    background: #fff;
    border-bottom: 1px solid #eee; 
}
.navbar {
    min-height: 35px;
}
.main-panel > .header .navbar-nav > li > a {
    max-height: 35px;
}
.main-panel > .header .navbar-nav > li > a {
    padding-top: 7px;
}
.main-panel > .header .header-avatar {
    width: 23px;
    margin-top: -1.16px;
}

/* small window */
.brand {
    height: 35px;
}
.brand .brand-logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hamburger-icon {
    padding-top: 8px;
    padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .main-panel > .header .navbar-form {
        margin-top: 0px;
    }
}